/* .myclass{
    background-color: red;
    color:white;
} */

/* .classForDiv{
    width:100px;
    height:50px;
    border:none;
    background-color : green;
    cursor:pointers;
    color: white
    margin:5px
}

.classForBox{
    padding:30px;
    background-color: red;
    color: white;
} */